.coin-container {
    display: flex;
    padding: 1%;
}

.coin-row {
    @extend .coin-container;
    flex-direction: row;
    justify-items: start;
    height: $height;
    border-bottom: 1px solid #fff;
    width: $width;
}

.coin {
    @extend .coin-container;
    padding-right: 24px;
    min-width: 300px;
}

.coin-image {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coin-name {
    font-size: 19px;
    width: 170px;
    text-align: left !important;
}

.coin-symbol {
    text-transform: uppercase !important;
}

.coin-data {
    @extend .coin-container;
    justify-content: space-between;
    width: 100%;

    & .coin-price {
        width: 110px;
        margin-right: 30px;
    }

    & .coin-marketcap {
        width: 155px;
    }

    & .coin-volume {
        width: 230px;
    }

    & .coin-volume, .coin-marketcap, .coin-price {
        text-align: left;
    }
    
    & .coin-percent {
        width: 30%;
    }
    
    & .red {
        color: $red;
    }

    & .green {
        color: $green;
    }
}

.coin-app {
    @extend .coin-container;
    flex-direction: column;
    margin-top: 64px;
}

.coin-search {
    margin-bottom: 64px;
    @extend .coin-container;
    flex-direction: column;
}

.coin-input {
    padding: 16px;
    margin-top: 2%;
    font-size: 16px;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
    color: white;

    &::placeholder{
        color: white;
    }
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    padding: 2%;
    color: $text-color;
    text-align: $text-align;
} 

.link {
    text-decoration: none;

    &:hover {
        color: $link;
    }
}

@include media(720px) {

    .coin-volume, .coin-symbol, .coin-marketcap {
       display: none;
    }
    
    .coin-percent, .coin-name, .coin-price {
        font-size: 16px;
        height: 20px;
        max-width: 60px;
    }

    .coin-name, .coin-price {
        text-align: left;
    }

    .coin-percent {
        text-align: left;
    }

    .coin-image {
       min-width: 20px;
    }

    .coin {
        min-width: 200px;
    }
    
    .coin-row {
        margin: 1%;
        height: 55px;
    }
}

@include media(900px) {
    
    .coin-marketcap {
        display: none;
     }
     
     .coin-percent, .coin-name, .coin-price, .coin-volume, .coin-symbol {
         font-size: 14px;
         height: 20px;
         min-width: 100px;
     }
 
     .coin-name, .coin-price {
         text-align: left;
     }
 
     .coin-percent {
         text-align: left;
     }
 
     .coin-image {
        min-width: 30px;
     }
 
     .coin {
         min-width: 200px;
     }
     
     .coin-row {
         margin: 1%;
         height: 55px;
     }
     
}