* {
    background-color: $background-color;
    color: $text-color;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial, Helvetica, sans-serif';
    text-align: $text-align;
}